{% extends "base.html" %}
{% block content %}
<h1>Каталог предметів</h1>

<form method="get">
    <input type="text" name="q" value="{{ q }}" placeholder="Пошук по назві...">
    <select name="cat">
        <option value="">Всі категорії</option>
        {% for category in categories %}
            <option value="{{ category }}" {% if cat == category %}selected{% endif %}>{{ category }}</option>
        {% endfor %}
    </select>
    <button type="submit">Фільтрувати</button>
</form>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            {% for item in items %}
            <div class="col">
                <div class="h-100">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.get_category_display }} — {{ item.price_per_day }} ₴/доба</p>
                            <a href="{% url 'main_app:items_detail' item.pk %}" class="btn btn-primary">Деталі</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <p>Нічого не знайдено.</p>
            {% endfor %}
        {% endblock %}
    </div>
</div>